.main{
    height: 300px;
    width: 300px;
    background: #cc1c1c;
    color: aliceblue;
   
}
.chield{
    height: 300px;
    width: 300px;
    background: #25ce35;
    color: aliceblue;
   
}
.main1{
    height: 300px;
    width: 300px;
    background: #162ecb;
    color: aliceblue;
}
p{
    margin: 20px;
}